{{#if resume.basics.summary}}
<section id="basics-summary">
	<div class="p-3 mb-3">
		<h3 class="my-0">
			<i class="fa-regular fa-address-card me-2"></i>
			About
		</h3>
		<hr>
		<p>
			{{resume.basics.summary}}
		</p>
	</div>
</section>
{{/if}}