{{#if resume.interests.length}}
<section id="interests">
	<div class="card p-3 mb-3">
		<h3 class="my-0">
			<i class="fa-solid fa-heart me-2"></i>
			Interests
		</h3>
		<hr class="mt-2">
		<div class="row gx-5">
			{{#each resume.interests}}
			<div class="col-6 item mb-4">
				{{#if name}}
				<h4 class="name m-0">
					{{name}}
				</h4>
				{{/if}}
				{{#if level}}
				<em class="level">
					{{level}}
				</em>
				{{/if}}
				{{#if keywords.length}}
				<div class="mt-3">
					{{#each keywords}}
						<span class="badge mb-2">{{.}}</span>
					{{/each}}
				</div>
				{{/if}}
			</div>
			{{/each}}
		</div>
	</div>
</section>
{{/if}}