{{#if resume.languages.length}}
<section id="languages">
	<div class="p-3 mb-3">
		<h3 class="my-0">
			<i class="fa-solid fa-language me-2"></i>
			Languages
		</h3>
		<hr class="mt-2">
		<div class="row">
			{{#each resume.languages}}
			<div class="item col-4">
				{{#if language}}
				<div class="language">
					{{language}}
					{{#if fluency}}	
						<em> - {{fluency}}</em>
					{{/if}}
				</div>
				{{/if}}
			</div>
			{{/each}}
		</div>
	</div>
</section>
{{/if}}