{{#if resume.references.length}}
<section id="references">
	<div class="p-3 mb-3">
		<h3 class="my-0">
			<i class="fa-solid fa-comment-dots me-2"></i>
			References
		</h3>
	{{#each resume.references}}
	<hr>
	<div class="item">
		<figure>
			<div class="row">
				<div class="col-1 text-center">
					<i class="fa-solid fa-quote-left mt-3 h2"></i>
				</div>
				<div class="col-11">
					{{#if reference}}
					<blockquote class="reference blockquote">
						<p>{{reference}}</p>
					</blockquote>
					{{/if}}
					{{#if name}}
					<figcaption class="blockquote-footer">
						<cite title="{{name}}">{{name}}</cite>
					</figcaption>
					{{/if}}
				</div>
			</div>
		</figure>
	</div>
	{{/each}}
	</div>
</section>
{{/if}}