@font-face {
  font-family: Proxima Nova Regular;
  src: url(https://framerusercontent.com/assets/KNBOuTjAW1FYpppwloLU8FF6Was.otf);
  font-display: block
}

@font-face {
  font-family: Proxima Nova Regular Italic;
  src: url(https://framerusercontent.com/assets/4KFinM4P9dCInpshBjyZDWKEKCk.otf);
  font-display: block
}

@font-face {
  font-family: Proxima Nova Light;
  src: url(https://framerusercontent.com/assets/6m1YCGIOf4rNxEnQC1VIrqma78I.otf);
  font-display: block
}

@font-face {
  font-family: Proxima Nova Semibold;
  src: url(https://framerusercontent.com/assets/dKaZud0Bajk0hZIvGDvde15G9Q.otf);
  font-display: block
}

body {
	background: rgb(240, 240, 240);
	font: 18px "Proxima Nova Regular", sans-serif;
	color: rgb(14, 21, 57);
	font-weight: 400;
	line-height: 36px;
	margin-bottom: 100px;
}

h1, h2, h3 {
	font-family: "Proxima Nova Semibold",  sans-serif;
	color: rgb(14, 21, 57);
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	letter-spacing: -0.5px;
}

h1 {	
	font-size: 44px;
	line-height: 52px;
}

h2 {
	font-size: 36px;
	line-height: 40px;
	color: rgb(75, 87, 145)
}

h3 {
	font-size: 22px;
	line-height: 30px;
	color: rgb(75, 87, 145)
}

#basics {
	font-size: 16px;
}

#basics .profile-pic {
	width: 100px;
	border-radius: 50px;
}

#basics h1 {
	font-size: 34px;
	line-height: 42px;
	letter-spacing: -1px;
}

#basics h2 {
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0px;
}

#profiles a {
	color: #666;
	text-decoration: none;
	min-width: 50px;
}
#profiles .fa-brands {
	font-size: 30px;
}
#main h2 {
	font-size: 24px;
	line-height: 28px;
}

#main p {
	color: rgb(14, 21, 57);
	font-size: 18px;
	font-family: "Proxima Nova Regular", sans-serif;
	letter-spacing: normal;
	line-height: 36px;
	display: block;
}

