@font-face {
  font-family: Proxima Nova Regular;
  @import: url(https://framerusercontent.com/assets/KNBOuTjAW1FYpppwloLU8FF6Was.otf);
  font-display: block
}

@font-face {
  font-family: Proxima Nova Regular Italic;
  import: url(https://framerusercontent.com/assets/4KFinM4P9dCInpshBjyZDWKEKCk.otf);
  font-display: block
}

@font-face {
  font-family: Proxima Nova Light;
  import: url(https://framerusercontent.com/assets/6m1YCGIOf4rNxEnQC1VIrqma78I.otf);
  font-display: block
}

@font-face {
  font-family: Proxima Nova Semibold;
  import: url(https://framerusercontent.com/assets/dKaZud0Bajk0hZIvGDvde15G9Q.otf);
  font-display: block
}

body {
	font: 18px "Proxima Nova Regular", sans-serif;
	color: rgb(14, 21, 57);
}

p, li{
	line-height: 30px;
}

h1, h2, h3, h4, h5 {
	font-family: "Proxima Nova Semibold",  sans-serif;
	color: rgb(14, 21, 57);
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	letter-spacing: -0.5px;
}

h1 {	
	font-size: 44px;
	line-height: 30px;
}

h2 {
	font-size: 36px;
	line-height: 20px;
	color: rgb(75, 87, 145)
}

h3 {
	font-size: 26px;
	line-height: 14px;
	color: #eb803a;
}

h4 {
	font-size: 19px;
	line-height: 17px;
	color: rgb(75, 87, 145)
}

h5 {
	font-size: 16px;
	line-height: 24px;
	color: rgb(75, 87, 145)
}

em {
	font-size: 16px;
}

#basics {
	font-size: 16px;
}

#basics .profile-pic {
	width: 100px;
	border-radius: 50px;
}

#basics h1 {
	font-size: 34px;
	letter-spacing: -1px;
	color: rgb(75, 87, 145);
}

#basics h2 {
	font-size: 20px;
	letter-spacing: 0px;
}

#basics .contact .item {
	line-height: 30px;
}

#profiles a {
	color: #666;
	text-decoration: none;
	min-width: 50px;
}

#profiles .fa-brands {
	font-size: 30px;
	color: rgb(75, 87, 145);
}

#main h2 {
	font-size: 20px;
	line-height: 28px;
	color: #eb803a;
}

#main p, #main ul li {
	color: rgb(14, 21, 57);
	font-size: 16px;
	font-family: "Proxima Nova Regular", sans-serif;
	letter-spacing: normal;
}


/* #main ul li {
	margin-bottom: 10px;
} */

#work .date .startDate, #work .date .endDate {
	font-size: 12px;
	font-weight: 700;
	background-color: #0000001a;
}

#work h4 {
	color: #eb803a;
}

#skills em {
	color: rgb(14, 21, 57);
}

.badge {
	background-color: rgb(75, 87, 145);
}
